body{
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
button{
    margin-bottom: 30px;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: darkgrey;
    margin: 5px 10px;
    text-transform: uppercase;
font-size: 20px;
}
#value-element{
text-decoration: underline black;
    font-size: 25px;
  margin-bottom: 5px;
}